//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 12 23:26:46 2017
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

